.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #525252;
}

.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #525252;
  opacity: 1;
}

.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #525252;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #525252;
}

.areadocliente {
  padding-top: 110px;
}

.container {
  margin-bottom: 30px;
}

p {
  margin-bottom: 40px;
}

.legendas {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  height: 300px;
}

.meus-dados {
  background-color: #fff;
}

.meus-dados, .meus-produtos {
  padding-top: 40px;
  padding-bottom: 40px;
}
.meus-dados .form-group, .meus-produtos .form-group {
  position: relative;
}
.meus-dados .form-group .fa, .meus-produtos .form-group .fa {
  -moz-transition-property: opacity, right, -moz-transform, -webkit-transform, -ms-transform;
  -o-transition-property: opacity, right, -o-transform, -webkit-transform, -ms-transform;
  -webkit-transition-property: opacity, right, -webkit-transform, -webkit-transform, -ms-transform;
  transition-property: opacity, right, transform, -webkit-transform, -ms-transform;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  bottom: 14px;
  font-size: 24px;
  color: #20497D;
}
.meus-dados .form-group label, .meus-produtos .form-group label {
  font-size: 14px;
}
.meus-dados .form-group:hover .fa, .meus-produtos .form-group:hover .fa {
  right: 12px;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.meus-dados .form-group.active .fa, .meus-produtos .form-group.active .fa {
  right: 12px;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.meus-dados .botoes, .meus-produtos .botoes {
  width: 100%;
  text-align: center;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .meus-dados .botoes, .meus-produtos .botoes {
    text-align: right;
  }
}
.meus-dados .btn, .meus-produtos .btn {
  width: auto;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .meus-dados .btn, .meus-produtos .btn {
    width: auto;
  }
}
@media (max-width: 767px) {
  .meus-dados .btnAlterarEndereco.visible-xs {
    display: inline-block !important;
  }
  .meus-dados .btnAlterarEndereco.visible-xs.hidden {
    display: none !important;
  }
}
.meus-dados .btnMDCancelar, .meus-produtos .btnMDCancelar {
  width: 120px;
  display: none;
  margin-right: 10px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .meus-dados .btnMDCancelar, .meus-produtos .btnMDCancelar {
    margin-right: 10px;
  }
}
.meus-dados .btnMDCancelar.active, .meus-produtos .btnMDCancelar.active {
  display: inline-block;
  background-color: #c00;
}

.form-group label {
  margin-bottom: 0 !important;
}

.form-control {
  background-color: white;
  border: 1px solid #F4F4F5;
  border-bottom: 2px solid #20497D;
  height: 35px;
  margin: 0;
}
.form-control.nome, .form-control.numero {
  width: 100%;
}

.ac-container {
  text-align: left;
  padding: 0;
}

.ac-container label {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  margin: 0;
  display: table;
  width: 100%;
  cursor: pointer;
  color: #fff;
  background: #20497D;
  font-weight: normal;
  padding: 12px;
  font-size: 20px;
}
.ac-container label .fa {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 12px;
}
.ac-container label .titulo {
  float: left;
  margin-top: 0;
  margin-left: 30px;
}
.ac-container label .preco {
  float: right;
  font-size: 16px;
  margin-top: 3px;
}
.ac-container label .titulo, .ac-container label .preco {
  display: inline-block;
}

.ac-container article {
  overflow: hidden;
  height: 0;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.5;
  -o-transition-duration: 0.5;
  -webkit-transition-duration: 0.5;
  transition-duration: 0.5;
}

.ac-container label:hover {
  background: #255591;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #c00;
}

.ac-container article input:checked + label,
.ac-container article input:checked + label:hover {
  background: white;
}

.ac-container input, .ac-small input {
  display: none;
}

.ac-container article label {
  height: 0px;
  width: 100%;
  position: relative;
  z-index: 10;
}
.ac-container article label.item {
  display: table;
  width: 100%;
  position: relative;
  padding: 20px;
  padding-left: 15px;
  font-size: 15px;
  cursor: pointer;
  color: #525252;
  background-color: white;
  border-top: 1px solid #F4F4F5;
}
.ac-container article label.item .titulo {
  margin-top: 0;
  width: 100%;
}
.ac-container article label.item .titulo .fa {
  position: absolute;
  left: 13px;
  top: 50%;
  margin-top: -10px;
  left: 12px;
}
.ac-container article label:hover {
  background: #F4F4F5;
}

.dados {
  height: 0;
  padding: 0;
  overflow: hidden;
  -moz-transition-property: height, padding;
  -o-transition-property: height, padding;
  -webkit-transition-property: height, padding;
  transition-property: height, padding;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.dados .form-group {
  margin-bottom: 0;
}
.dados .form-group input {
  display: block !important;
}

.dados.cartao .bandeira {
  display: inline-block;
}
.dados.cartao .bandeira .titulo {
  width: 100%;
  margin-top: 0;
}
.dados.cartao .bandeira img {
  width: 10%;
}
.dados.cartao .btn {
  font-size: 16px;
  width: 100%;
}
.dados.cartao .alterar {
  display: none;
}
.dados.cartao .ativo {
  display: block !important;
}

.ac-container article input:checked ~ .dados.veiculo {
  height: auto;
  padding: 20px;
  padding-top: 0;
  /* Small devices (tablets, 768px and up) */
}
.ac-container article input:checked ~ .dados.veiculo .form-group {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .ac-container article input:checked ~ .dados.veiculo {
    height: auto;
  }
  .ac-container article input:checked ~ .dados.veiculo .form-group {
    margin-bottom: 0;
  }
}

.ac-container article input:checked ~ .dados.cartao {
  height: auto;
  padding: 20px;
  padding-top: 0;
  /* Small devices (tablets, 768px and up) */
}
.ac-container article input:checked ~ .dados.cartao .form-group {
  margin-bottom: 10px;
}
.ac-container article input:checked ~ .dados.cartao .alterar {
  display: none;
}
@media (min-width: 768px) {
  .ac-container article input:checked ~ .dados.cartao {
    height: auto;
  }
  .ac-container article input:checked ~ .dados.cartao .form-group {
    margin-bottom: 5px;
  }
}

article.ac-small {
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.ac-container input:checked ~ article.ac-small {
  height: auto;
}

.modal-box {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modal-box.modal-cancelar .inner,
.modal-box.modal-cartao .inner {
  background-color: white;
  position: fixed;
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 40px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .modal-box.modal-cancelar .inner {
    left: 50%;
    margin-left: -200px;
    width: 400px;
  }
}
.modal-box.modal-cancelar .inner .btnFecharIcon,
.modal-box.modal-cartao .inner .btnFecharIcon {
  position: absolute;
  top: 4px;
  right: 9px;
  cursor: pointer;
  color: #20497D;
  font-size: 38px;
}
.modal-box .inner .btnFechar2 {
  margin-top: 40px;
}
.modal-box.modal-cartao .inner {
  width: 100%;
  margin-left: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow-y: scroll;
  padding-bottom: 30px;
  /* Small devices (desktops, 992px and up) */
  /* Small devices (desktops, 992px and up) */
}
.modal-box.modal-cartao .inner h3 {
  margin-bottom: 40px;
  margin-top: 60px;
}
.modal-box.modal-cartao .inner .btnFechar2 {
  margin-top: 0;
}
.modal-box.modal-cartao .inner .btnAlterarCartao {
  display: inline-block;
}
.modal-box.modal-cartao .inner .form-group {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .modal-box.modal-cartao .inner {
    width: 600px;
    margin-left: -300px;
    top: 10%;
    left: 50%;
    overflow-y: hidden;
  }
  .modal-box.modal-cartao .inner .form-group {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .modal-box.modal-cartao .inner {
    width: 800px;
    margin-left: -400px;
    top: 10%;
    left: 50%;
  }
}
.modal-box.modal-cartao .confirmacao {
  display: none;
}
.modal-box.modal-cartao.active .confirmacao {
  display: block;
}
.modal-box.modal-cartao.active .cartao {
  display: none;
}
.modal-box.modal-cartao.active .btnAlterarCartao {
  display: none;
}
.modal-box.ativo {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-condicoes .inner {
  text-align: left;
  overflow: scroll;
  height: 100%;
  top: 0;
}

.accordion {
  background-color: #20497D;
  color: white;
  cursor: pointer;
  width: 100% !important;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
}
.accordion:nth-child(odd) {
  background-color: #2a61a6;
}

.list .accordion {
  background-color: #20497D;
}
.list:nth-child(odd) .accordion {
  background-color: #2a61a6;
}
.list:nth-child(odd):hover .accordion {
  background-color: #3779cc;
}

.meus-produtos .header p {
  margin-bottom: 0;
}
.meus-produtos .col {
  padding: 13px;
  padding-left: 0;
}
.meus-produtos .col:first-child {
  padding-left: 47px;
  font-size: 12px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .meus-produtos .col:first-child {
    font-size: 15px;
  }
}

div.accordion.active, .accordion:hover {
  background-color: #6094d6;
}

div.accordion:focus, .accordion:focus {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

div.accordion:after {
  content: '\f107';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: white;
  position: absolute;
  top: 13px;
  left: 16px;
}

div.accordion.active:after {
  content: "\f106";
}

div.content {
  display: none;
  width: 100%;
}
div.content .btnProdutos {
  width: 100%;
  padding: 20px;
  padding-left: 47px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #F4F4F5;
  cursor: pointer;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
div.content .btnProdutos .fa {
  position: absolute;
  top: 22px;
  left: 16px;
}
div.content .btnProdutos .editar i {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin-left: 6px;
}
div.content .btnProdutos .editar span {
  float: left;
}
div.content .btnProdutos:hover {
  background-color: #F4F4F5;
}
div.content .contentCondicoes, 
div.content .contentCobertura, 
div.content .contentExclusoes {
  display: none;
  background-color: white;
  padding: 0px 0px 20px 40px;
  padding-left: 40px;
  border-bottom: 1px solid #F4F4F5;
}
div.content .contentCondicoes p,
div.content .contentCobertura p, 
div.content .contentExclusoes p {
  margin-bottom: 20px;
}

div.content .comprovante {
  width: 100%;
  padding: 13px;
  padding-left: 15px;
  padding-bottom: 20px;
  background-color: white;
  /* Small devices (tablets, 768px and up) */
}
div.content .comprovante .row {
  margin-bottom: 5px;
}
div.content .comprovante .titulo {
  text-align: right;
  font-weight: bold;
}
@media (min-width: 768px) {
  div.content .comprovante {
    padding-left: 47px;
  }
}

.panel.cartao {
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 0;
  text-align: left;
}
.panel.cartao .control-label {
  font-size: 14px;
}
.panel.cartao .form-control {
  background-color: white;
  border: 1px solid #F4F4F5;
  border-bottom: 2px solid #20497D;
  height: 35px;
  margin: 0;
}
.panel.cartao .form-control.nome, .panel.cartao .form-control.numero {
  width: 100%;
}
.panel.cartao .codigo {
  padding-left: 20px;
}
.panel.cartao .codigo .form-group {
  /* Small devices (tablets, 768px and up) */
}
.panel.cartao .codigo .form-group .form-control {
  width: 60%;
  float: left;
}
@media (min-width: 768px) {
  .panel.cartao .codigo .form-group {
    padding-left: 15px;
  }
}
.panel.cartao .cartao-codigo {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  float: right;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .panel.cartao .cartao-codigo {
    float: left;
    width: 30%;
  }
}
.panel.cartao .bandeira {
  padding: 0;
  display: table;
  /* Small devices (tablets, 768px and up) */
}
.panel.cartao .bandeira .titulo {
  width: 100%;
  margin-top: 0;
}
.panel.cartao .bandeira .bandeiras img {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .panel.cartao .bandeira {
    padding-left: 15px;
    padding-right: 15px;
    display: inherit;
  }
}

.form-group {
    margin-bottom: 40px;
}
.sucessoValidacao {
	list-style: none;
	color: blue;
}
.loading {
	width: 30px;
	margin-right: 10px;
}
.desabilitado {
	color: #FFFFFF !important;
	cursor: default !important;
	opacity: 0.5;
	margin-left: 0 !important;
}
.desabilitado::before {
	background: #136ECC;
}

.produtoCancelado {
	opacity: 0.7;
}
.statusCancelado {
	color: #ff0000;
}

div.accordion.processamento, .processamento:hover {
  background-color: #ffcc33;
}
.accordion:nth-child(even).processamento {
  background-color: #ff8000;
}

.list .accordion.processamento {
  background-color: #ff9900;
}
.list .accordion.processamento:hover {
  background-color: #ffcc33;
}
.list:nth-child(even) .accordion.processamento {
  background-color: #ff8000;
}
.list:nth-child(even):hover .accordion.processamento {
  background-color: #ffcc33;
}
