.cadastro {
  background-color: #f7f7f7;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  padding-top: 150px;
}
.cadastro h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container { 
  margin-bottom: 30px;
}
 
/*p {
  font-size: 20px;
  margin-bottom: 40px;
}*/

.form-control {
  background-color: #f7f7f7;
  width: auto;
}

.legendas {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  height: 300px;
}

.etapa {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
/*  display: none;*/
}
.etapa .input {
  /* Small devices (tablets, 768px and up) */
}
.etapa .input input {
  text-align: center;
}
@media (min-width: 768px) {
  .etapa .input {
    text-align: left;
    padding-left: 0;
  }
  .etapa .input input {
    text-align: left;
  }
}
.etapa .legenda {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .etapa .legenda {
    text-align: right;
    padding-right: 0;
  }
}
.etapa.active {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.etapa-1 {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.imagens-planos img{
  margin: 0 30px;
}

@media (max-width: 575.98px){
  .imagens-planos img{
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .imagens-planos img{
    margin: 0 15px;
    max-width: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .imagens-planos img{
    margin: 0 25px;
    max-width: 45px;
  }
}

.class-somar{
  font-size: 48px;
  color: black;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .class-somar{
    font-size: 35px;
    margin-top: 10px;
  }
}

.row-fundo{
  position: absolute;
  background-color: white;
  height: 250px;
  width: 90%;
  margin-top: -125px;
  top: 50%;
  left: 5%;
}

.img-carglass{
  max-width: 175px;
}

@media (max-width: 767.98px){
  .row-fundo{
    display: none;
  }
}

.etapa-carglass .text-center{
  font-size: 16px;
}

.etapa-carglass .text-center img{
  margin-bottom: 40px;
}

.etapa-carglass .text-center p{
  font-size: 16px;
  margin-bottom: 40px;
}

.etapa-carglass .col-sm-4{
  text-align: center;
  z-index: 2;
  background-color: lightgray;
  margin: 15px;
  width: 30%;
  padding: 25px 0 0;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .col-sm-4{
    margin: 10px;
  }
}

@media (max-width: 767.98px){
  .etapa-carglass .col-sm-4{
    margin: 0px 0px 65px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.etapa-carglass .col-sm-4:nth-child(1){
  background: unset;
  padding-top: 65px;
}

@media (max-width: 767.98px){
  .etapa-carglass .col-sm-4:nth-child(1){
    margin-bottom: 25px;
    padding-top: 0px;
  }
}

.etapa-carglass .col-sm-4:nth-child(1) span{
  color: #FF0000;
}

.etapa-carglass .col-sm-4:nth-child(1) p{
  font-size: 14px !important;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.etapa-carglass .col-sm-4 h4{
  color: black;
  margin: 0;
}

.etapa-carglass .col-sm-4 hr{
  width: 100px;
  margin-top: 5px;
  border: 1px solid #FF0000;
  font-size: 18px;
}

.etapa-carglass .col-sm-4 p:nth-child(1){
  font-size: 15px;
  margin-bottom: 0;
}

@media (max-width: 575.98px){
  .etapa-carglass .col-sm-4 p:nth-child(1){
    font-size: 14px;
  }
}

.etapa-carglass .p-line{
  position: relative;
  margin-bottom: 5px;
}

.etapa-carglass .p-line::after{
  border-bottom: 2px solid #FF0000;
  content: "";
  left: 50%;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  width: 125px;
  margin-left: -62.5px;
}

.etapa-carglass .col-sm-4 b{
  font-size: 16px;
}

.etapa-carglass .div-btn-carglass{
  margin-bottom: -50px;
}

.etapa-carglass .div-btn-carglass .btn-etapa-carglass{
  margin-top: 0px;
  width: 125px;
}

.etapa-carglass .div-btn-carglass p{
  color: #FF0000;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.etapa-carglass .btn-etapa-carglass{
  margin-top: 100px;
  width: 150px;
}

.botao-carglass{
  color: #fff;
  background-color: red;
  border-color: red;
  width: 125px;
  margin-left: auto;
  cursor: pointer;
  margin-right: auto;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0;
}

.botao-carglass:hover{
  color: #fff;
  background-color: #FF0000;
  border-color: #e60000;
}

.etapa-carglass .plano-tranquilidade{
  display: inline-flex;
}

.etapa-carglass .plano-tranquilidade p:nth-child(1){
  margin: 15px 10px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(1){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(1){
    margin: 15px 5px;
    font-size: 12px;
  }
}

.etapa-carglass .plano-tranquilidade p:nth-child(3){
  margin: 15px 20px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 5px;
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 10px;
  }
}

.etapa-carglass .plano-tranquilidade p:nth-child(5){
  margin: 15px 10px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(5){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(5){
    margin: 15px 5px;
    font-size: 12px;
  }
}

.etapa-carglass .col-sm-4 .hr-2{
  width: 200px;
  border: 1px solid white;
  margin-top: 15px;
}

.etapa-carglass .modal .modal-header{
  border: none;
  padding: 0px;
}

.etapa-carglass .modal .modal-header .close{
  font-size: 60px;
  opacity: 1;
  color: #20497D;
}

.etapa-carglass .modal .modal-content{
  padding: 20px;
}

.etapa-carglass .modal .modal-content h3{
  text-align: center;
}

.panel {
  padding-bottom: 0;
}
.panel .table {
  margin-bottom: 0;
}

.panel.cartao {
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}
.panel.cartao .control-label {
  font-size: 14px;
}
.panel.cartao .form-control {
  background-color: white;
  border: 1px solid #F4F4F5;
  border-bottom: 2px solid #20497D;
  height: 35px;
  margin: 0;
}
.panel.cartao .form-control.nome, .panel.cartao .form-control.numero {
  width: 100%;
}
.panel.cartao .codigo {
  padding-left: 20px;
}
.panel.cartao .codigo .form-group {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .panel.cartao .codigo .form-group {
    padding-left: 15px;
  }
}
.panel.cartao .cartao-codigo {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  float: right;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .panel.cartao .cartao-codigo {
    float: none;
  }
}
.panel.cartao .bandeira {
  padding: 0;
  display: table;
  /* Small devices (tablets, 768px and up) */
}
.panel.cartao .bandeira .titulo {
  width: 100%;
  margin-top: 0;
}
.panel.cartao .bandeira .bandeiras img {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .panel.cartao .bandeira {
    padding-left: 15px;
    padding-right: 15px;
    display: inherit;
  }
}

.desabilitado {
	color: #FFFFFF !important;
	cursor: default !important;
	opacity: 0.5;
	margin-left: 0 !important;
}
.desabilitado::before {
	background: #136ECC;
}

.loading {
	width: 30px;
	margin-right: 10px;
}

.formCadastro .form-group label {
    margin-bottom: 2px;
}
.formCadastro .erroValidacao {
	display: block;
}
@media (min-width: 1200px) {
	.formCadastro #cpf {
		width: 130px;
	}
	.formCadastro #telefone {
		width: 132px;
	}
}
@media (max-width: 1199px) {
	.formCadastro #cpf,
	.formCadastro #telefone {
		margin-bottom: 20px;
	}
}
@media (max-width: 991px) {
	.formCadastro #bairro,
	.formCadastro #cidade,
	.formCadastro #password {
		margin-bottom: 20px;
	}
}
@media (max-width: 767px) {
	.formCadastro #numero {
		margin-bottom: 20px;
	}
}
