@media (min-width: 992px) {
	.row.atualizarPlano .col {
		margin: 0;
		padding: 0;
	}
}

.brand-row {
	margin-bottom: 5px; 
	max-width: 109%; 
	padding-left: 15px;
}

.brands {
	padding-left: 25px !important;
}

@media only screen {
	.link-sair {
		padding:40px 5px 0 0;
	}
	header .row .brand-intel {
		padding-left:0;
	}
	header .row .col-link-sair {
		padding-left: 0;
		padding-right: 0;
	}
	.brand-row .brands {
		padding-right: 30px;
	}
	#termos {
		padding-left: 0;
		padding-right: 0;
	}
	#termos2 {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media only screen 
and (min-device-width : 360px) {
	.link-sair {
		padding:40px 30px 0 0;
	}
	#termos {
		padding-left: 40px;
		padding-right: 40px;
	}
	#termos2 {
		padding-left: 0;
		padding-right: 0;
	}
 }		