
.nav-banner {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
}
.nav-banner .titulo {
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  text-align: center;
}
.nav-banner .btn-primary {
  width: 140px;
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  margin-bottom: 5px;
}
.nav-banner .btn-primary:hover {
  background: rgba(255, 255, 255, 0.2);
}
.nav-banner .btn-primary:focus {
  background: rgba(255, 255, 255, 0.2);
}
.nav-banner .btn-primary:active {
  background: rgba(255, 255, 255, 0.2);
}
.navbar-right p {
  font-size: 14px;
  margin-bottom: 0px;
}

.login {
  padding-top: 40px;
}
.login .panel-body {
  min-height: 210px;
}
.login .btn {
  font-size: 16px;
  width: 100%;
}
.login .btn.btn-entrar {
  margin-top: 50px;
}
.login .btn.btn-cadastre {
  margin-top: 52px;
}
.login .panel {
  min-height: 353px;
}
.login #cadastro .panel-body h3 {
	margin-bottom: 10px;
}
.login #cadastro .panel-body p {
	line-height: 1.42857;
}

.fontRed {
  color: #FF0000;
}

.fontBlue {
  color: #20497D;
}

header {
  position: fixed;
  left: 90%;
  top: 9%;
}
@media screen and (min-width: 768px) {
  header {
    left: 85%;
    top: 10%;
  }
}

@media screen and (min-width: 800px) {
  header {
    left: 83%;
  }
}
@media screen and (min-width: 850px) {
  header {
    left: 81%;
  }
}
@media screen and (min-width: 900px) {
  header {
    left: 79%;
  }
}
@media screen and (min-width: 950px) {
  header {
    left: 77%;
  }
}
@media screen and (min-width: 1000px) {
  header {
    left: 75%;
  }
}
@media screen and (min-width: 1050px) {
  header {
    left: 73%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    left: 72%;
  }
  .login .btn.btn-cadastre {
  	margin-top: 78px;
  }
}
@media screen and (min-width: 1250px) {
  header {
    left: 71%;
  }
}

@media screen and (max-width: 479px) {
	.links-header {
		clear: both;
	}
}
@media screen and (min-width: 480px) {
	.links-header {
		clear: right;
	}
}
