#scrollto {
  cursor: pointer;
}

.container {
  margin-bottom: 60px;
}

.home {
  background-color: #f7f7f7;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
}

.home h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 30px;
}

.banner {
  position: relative;
  display: none;
  /* Small devices (tablets, 768px and up) */
}
/* TODO voltar quando acertar o redimensionar do bxslider.js 
@media (min-width: 992px) {*/
@media (min-width: 1200px) {
  .banner {
    display: block;
  }
}
.banner .panel {
  /* Small devices (desktops, 992px and up) */
}
@media (min-width: 992px) {
  .banner .panel {
    margin-top: 40px;
  }
}

.banner-home-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-principal {
  width: 100%;
  max-width: 2800px;
  height: 500px;
  margin: 0 auto;
}

#banner-2 {
  margin-top: 40px;
}
#banner-2 .nav-banner {
  position: absolute;
  top: -54px;
  z-index: 99;
}
#banner-2 .nav-banner .btn-primary {
  width: 140px;
}
#banner-2 .nav-banner .btn-primary {
  background: transparent;
  border: 3px solid #000;
  color: #000;
}
#banner-2 .nav-banner .btn-primary:hover {
  background: rgba(0, 0, 0, 0.2);
}
#banner-2 .nav-banner .btn-primary:focus {
  background: rgba(0, 0, 0, 0.2);
}
#banner-2 .nav-banner .btn-primary:active {
  background: rgba(0, 0, 0, 0.2);
}

.banner-secundario {
  width: 100%;
  height: 590px;
  background: #0ff;
}

.box-banner-beneficios {
  background-color: #F4F4F5;
  height: 300px;
}

.centralizado {
  text-align: center;
}

.traco :after {
  content: '';
  display: block;
  width: 70%;
  bottom: 0;
  height: 2px;
  background-color: red;
  margin-left: 15%;
}

.btn-esquerda {
  width: 45%;
  height: 46px;
  background-color: #20497D;
  text-align: center;
  float: left;
}
.btn-esquerda a {
  color: #fff;
  display: block;
  padding-top: 15px;
}

.separador {
  width: 10%;
  height: 46px;
  float: left;
}

.btn-direita {
  width: 45%;
  height: 46px;
  background-color: #ff0000;
  text-align: center;
  float: left;
  margin-left: -1px;
}
.btn-direita a {
  color: #fff;
  display: block;
  padding-top: 15px;
}

.panel {
  border: none;
  padding-bottom: 0px;
  margin-top: 20px;
}

.aviso {
  background: #20497D;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.aviso a {
  color: #fff;
}

.beneficios {
  padding-bottom: 40px;
  text-align: center;
}
.beneficios h2 {
  font-weight: 600;
}
.beneficios h3 {
  margin-top: 5px;
}
.beneficios h4 {
  font-size: 13px;
  font-weight: 600;
}
.beneficios p {
  font-size: 11px;
  color: #20497D;
}

.line {
  width: 100%;
  height: 2px;
  border-top: 1px dotted red;
  position: absolute;
  margin-top: 39px;
}

/*.form-control {
  background-color: #f7f7f7;
  width: auto;
}*/

.legendas {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contato-imagem {
  width: 100%;
  min-height: 600px;
  background-color: #E3E3E5;
  padding-bottom: 40px;
  position: relative;
}
.contato-imagem .container {
  margin-bottom: 0px;
}
.contato-imagem .imagem {
  background-image: url("https://www.assistcenter.com.br/resourceswl/img//encanador.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  display: none;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .contato-imagem .imagem {
    display: block;
  }
}

.conteudo-icones {
  margin-top: 15px;
}
.conteudo-icones .linha {
  margin-bottom: 10px;
  height: 59px;
}
.conteudo-icones img {
  float: left;
  width: 57px;
}
.conteudo-icones p {
  margin-top: 19px;
  margin-left: 68px;
  font-size: 14px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .conteudo-icones p {
    font-size: 14px;
  }
}

.icon-servicos-1 {
  background-image: url("https://www.assistcenter.com.br/resourceswl/img//icon-servicos-1.png");
}

.contratar-servicos {
  padding-top: 40px;
}
.contratar-servicos h2 {
  font-weight: 600;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .arroba-1, .arroba-2, .arroba-3, .arroba-4 {
    display: none;
  }

  #banner-2 .nav-banner {
    margin-top: -60px;
  }
  #banner-2 .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    margin-bottom: 5px;
  }

  .nav-banner {
    position: absolute;
    z-index: 99;
  }
  .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin-bottom: 5px;
  }

  .panel {
    margin-bottom: 70px;
  }

  .content-line {
    display: none;
  }

  .line {
    display: none;
  }

  .contato-imagem {
    background-image: none;
  }
  .contato-imagem h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .arroba-1, .arroba-2, .arroba-3, .arroba-4 {
    display: none;
  }

  .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin-bottom: 5px;
  }

  #banner-2 .nav-banner {
    margin-top: -60px;
  }
  #banner-2 .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    margin-bottom: 5px;
  }

  .panel {
    margin-bottom: 70px;
  }

  .content-line {
    display: none;
  }

  .line {
    display: none;
  }

  .contato-imagem {
    background-image: none;
  }
}



.croqui {
  margin-top: 30px;
}

.croqui2 {
  margin-top: 35px;
  margin-bottom: -10px;
}

.todos-servicos ul {
  padding: 0;
}
.todos-servicos ul li {
  list-style: none;
}
.todos-servicos .servicos {
  height: 0;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: height, opacity;
  -o-transition-property: height, opacity;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.todos-servicos .servicos.show {
  height: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  margin-top: 30px;
}

#loginlink, #cadastrolink {
	cursor: pointer;
}

.modal-box.modal-esqueceu-senha .inner {
	height: 300px;
	overflow-y: hidden;
}
.modal-box.modal-esqueceu-senha .inner .modal-body {
	padding: 0;
	margin-top: 15px
}

@media (max-width: 767px) {
	.login .btn {
  		font-size: 13px;
  		padding: 10px 0px;
	}
}

@media (max-width: 480px) {
	.links-header {
		clear: none;
	}
}

.bx-viewport li { 
	min-height: 1px; 
	min-width: 1px; 
}

.mbr-overlay {
	opacity: 0.4;
	background-color: rgb(40, 50, 78);
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	position: absolute;
}

#conhecaAmbientes {
	position: absolute;
	z-index: 1; 
	top: 45%;
	left: 45%;
	background-color: #f7f7f7;
	border: none;
	line-height: norma;
	color: #20497d;
}
#conhecaAmbientes .titulo {
	display: block; 
	font-size: 25px; 
	font-weight: bold;
}
#conhecaAmbientes .subtitulo {
	font-size: 20px;
}