
.modal-box {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.modal-box .inner {
  background-color: white;
  position: relative;
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  padding: 40px;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  .modal-box .inner {
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 550px;
  }
}


.modal-box .inner .btnFecharIcon {
  position: absolute;
  top: 4px;
  right: 39px;
  cursor: pointer;
  color: #20497D;
  font-size: 38px;
}

.fa2 {
  position: absolute;
}

.modal-box .inner .btnFechar2 {
  margin-top: 40px;
}

.modal-box.ativo {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box h2 {
	margin: 0;
}