#scrollto {
  cursor: pointer;
}

.container {
  margin-bottom: 60px;
}

.home {
  background-color: #f7f7f7;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
}

.home h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 30px;
}

.banner {
  position: relative;
  display: none;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 992px) {
  .banner {
    display: block;
  }
}
.banner .panel {
  /* Small devices (desktops, 992px and up) */
}

@media (min-width: 992px) {
  .banner .panel {
    margin-top: 40px;
  }
}
.banner-home-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-principal {
  width: 100%;
  max-width: 2800px;
  height: 500px;
  margin: 0 auto;
}

.owl-stage-outer, .owl-stage, .owl-item, .item {
  height: 100%;
}

.banner-moto {
  background-image: url("../img/banner-home-moto.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-caminhao {
  background-image: url("../img/banner-home-moto.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-auto {
  background-image: url("../img/banner-home-auto.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.banner-auto .arroba-1 {
  position: absolute;
  bottom: 90px;
  left: 240px;
  background-color: transparent;
  border: 0px;
}

.banner-auto .arroba-2 {
  position: absolute;
  top: 190px;
  left: 440px;
  background-color: transparent;
  border: 0px;
}

.banner-auto .arroba-3 {
  position: absolute;
  top: 220px;
  left: 530px;
  background-color: transparent;
  border: 0px;
}

.banner-auto .arroba-4 {
  position: absolute;
  bottom: 170px;
  left: 560px;
  background-color: transparent;
  border: 0px;
}

.nav-banner {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
}

.nav-banner .titulo {
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  text-align: center;
}

.nav-banner .btn-primary {
  width: 140px;
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  margin-bottom: 5px;
}

.nav-banner .btn-primary:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-banner .btn-primary:focus {
  background: rgba(255, 255, 255, 0.2);
}

.nav-banner .btn-primary:active {
  background: rgba(255, 255, 255, 0.2);
}

#banner-2 {
  margin-top: 40px;
}

#banner-2 .nav-banner {
  position: absolute;
  top: -54px;
  z-index: 99;
}

#banner-2 .nav-banner .btn-primary {
  width: 140px;
}

#banner-2 .nav-banner .btn-primary {
  background: transparent;
  border: 3px solid #000;
  color: #000;
}

#banner-2 .nav-banner .btn-primary:hover {
  background: rgba(0, 0, 0, 0.2);
}

#banner-2 .nav-banner .btn-primary:focus {
  background: rgba(0, 0, 0, 0.2);
}

#banner-2 .nav-banner .btn-primary:active {
  background: rgba(0, 0, 0, 0.2);
}

.banner-secundario {
  width: 100%;
  height: 590px;
  background: #0ff;
}

.box-banner-beneficios {
  background-color: #F4F4F5;
  height: 300px;
}

.centralizado {
  text-align: center;
}

.traco :after {
  content: '';
  display: block;
  width: 70%;
  bottom: 0;
  height: 2px;
  background-color: red;
  margin-left: 15%;
}

.btn-esquerda {
  width: 45%;
  height: 46px;
  background-color: #20497D;
  text-align: center;
  float: left;
}

.btn-esquerda a {
  color: #fff;
  display: block;
  padding-top: 15px;
}

.separador {
  width: 10%;
  height: 46px;
  float: left;
}

.btn-direita {
  width: 45%;
  height: 46px;
  background-color: #ff0000;
  text-align: center;
  float: left;
  margin-left: -1px;
}

.btn-direita a {
  color: #fff;
  display: block;
  padding-top: 15px;
}

.panel {
  border: none;
  padding-bottom: 0px;
  margin-top: 20px;
}

.aviso {
  background: #20497D;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.aviso a {
  color: #fff;
}

.beneficios {
  padding-bottom: 40px;
  text-align: center;
}

.beneficios h2 {
  font-weight: 600;
}

.beneficios h3 {
  margin-top: 5px;
}

.beneficios h4 {
  font-size: 13px;
  font-weight: 600;
}

.beneficios p {
  font-size: 11px;
  color: #20497D;
}

.line {
  width: 100%;
  height: 2px;
  border-top: 1px dotted red;
  position: absolute;
  margin-top: 39px;
}

.form-control {
  background-color: #f7f7f7;
  width: auto;
}

.legendas {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contato-imagem {
  width: 100%;
  min-height: 600px;
  background-color: #E3E3E5;
  padding-bottom: 40px;
  position: relative;
}

.contato-imagem .container {
  margin-bottom: 0px;
}

.contato-imagem .imagem {
  background-image: url("../img/encanador.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  display: none;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  .contato-imagem .imagem {
    display: block;
  }
}
.conteudo-icones {
  margin-top: 15px;
}

.conteudo-icones .linha {
  margin-bottom: 10px;
  height: 59px;
}

.conteudo-icones img {
  float: left;
  width: 57px;
}

.conteudo-icones p {
  margin-top: 19px;
  margin-left: 68px;
  font-size: 14px;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  .conteudo-icones p {
    font-size: 14px;
  }
}
.icon-servicos-1 {
  background-image: url("../img/icon-servicos-1.png");
}

.contratar-servicos {
  padding-top: 40px;
}

.contratar-servicos h2 {
  font-weight: 600;
  margin-bottom: 40px;
}

/* line 372, ../sass/parceiro.scss */
.footer-bg {
  background-color: #333333;
}

/* line 375, ../sass/parceiro.scss */
.footer {
  background-color: #333333;
  color: #cccccc;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
}

.footer .ajuda {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
  /* Small devices (desktops, 992px and up) */
}

@media (min-width: 768px) {
  .footer .ajuda {
    text-align: left;
  }
}
/* line 382, ../sass/parceiro.scss */
.footer .col-sm-3 {
  padding: 0 40px;
  margin-bottom: 20px;
}

/* line 386, ../sass/parceiro.scss */
.footer .endereco {
  color: #b3b3b3;
  border-top: 1px solid #b3b3b3;
  padding-top: 25px;
  margin-top: 50px;
}

/* line 393, ../sass/parceiro.scss */
.footer .cartoes {
  margin-left: 0;
  margin-right: 0;
}

.footer .cartoes .col-sm-3 {
  margin-bottom: 10px;
  padding: 0 5px;
}

/* line 397, ../sass/parceiro.scss */
.footer .cartoes .col-xs-offset-2 {
  clear: both;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  /* line 397, ../sass/parceiro.scss */
  .footer .cartoes .col-xs-offset-2 {
    clear: none;
  }
}
/* line 405, ../sass/parceiro.scss */
.footer .pagamento {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
}

.footer .pagamento h3 {
  padding-left: 5px;
}

@media (min-width: 768px) {
  /* line 405, ../sass/parceiro.scss */
  .footer .pagamento {
    text-align: center;
  }
}
/* line 413, ../sass/parceiro.scss */
.footer .logointel img {
  margin-bottom: 20px;
}

/* line 418, ../sass/parceiro.scss */
.footer .braspag img {
  margin: 0 auto;
}

/* line 423, ../sass/parceiro.scss */
.footer h3 {
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  color: #fff;
}

/* line 429, ../sass/parceiro.scss */
.footer a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 435, ../sass/parceiro.scss */
.footer a:hover {
  text-decoration: none;
  color: #ff0000;
}

.footer p {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .arroba-1, .arroba-2, .arroba-3, .arroba-4 {
    display: none;
  }

  #banner-2 .nav-banner {
    margin-top: -60px;
  }

  #banner-2 .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    margin-bottom: 5px;
  }

  .nav-banner {
    position: absolute;
    z-index: 99;
  }

  .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin-bottom: 5px;
  }

  .panel {
    margin-bottom: 70px;
  }

  .content-line {
    display: none;
  }

  .line {
    display: none;
  }

  .contato-imagem {
    background-image: none;
  }

  .contato-imagem h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .arroba-1, .arroba-2, .arroba-3, .arroba-4 {
    display: none;
  }

  .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin-bottom: 5px;
  }

  #banner-2 .nav-banner {
    margin-top: -60px;
  }

  #banner-2 .nav-banner .btn-primary {
    width: auto;
    background: transparent;
    margin-bottom: 5px;
  }

  .panel {
    margin-bottom: 70px;
  }

  .content-line {
    display: none;
  }

  .line {
    display: none;
  }

  .contato-imagem {
    background-image: none;
  }
}
.login {
  padding-top: 40px;
}

.login .panel-body {
  min-height: 210px;
}

.login .btn {
  font-size: 16px;
  width: 100%;
}

.login .panel {
  min-height: 353px;
}

.modal-box {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.modal-box .inner {
  background-color: white;
  position: relative;
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  padding: 40px;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  .modal-box .inner {
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 550px;
  }
}
header {
  position: fixed;
  left: 90%;
  top: 9%;
}

@media screen and (min-width: 768px) {
  header {
    left: 85%;
    top: 10%;
  }
}
@media screen and (min-width: 800px) {
  header {
    left: 83%;
  }
}
@media screen and (min-width: 850px) {
  header {
    left: 81%;
  }
}
@media screen and (min-width: 900px) {
  header {
    left: 79%;
  }
}
@media screen and (min-width: 950px) {
  header {
    left: 77%;
  }
}
@media screen and (min-width: 1000px) {
  header {
    left: 75%;
  }
}
@media screen and (min-width: 1050px) {
  header {
    left: 73%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    left: 72%;
  }
}
@media screen and (min-width: 1250px) {
  header {
    left: 71%;
  }
}
.modal-box .inner .btnFecharIcon {
  position: absolute;
  top: 4px;
  right: 9px;
  cursor: pointer;
  color: #20497D;
  font-size: 38px;
}

.fa2 {
  position: absolute;
}

.modal-box .inner .btnFechar2 {
  margin-top: 40px;
}

.modal-box.ativo {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.croqui {
  margin-top: 120px;
}

.croqui2 {
  margin-top: 35px;
  margin-bottom: -10px;
}

.todos-servicos ul {
  padding: 0;
}

.todos-servicos ul li {
  list-style: none;
}

.todos-servicos .servicos {
  height: 0;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: height, opacity;
  -o-transition-property: height, opacity;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.todos-servicos .servicos.show {
  height: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  margin-top: 30px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
}

.logo-parceiro-auto {
  background-color: white;
  padding-top: 50px !important;
  text-align: center;
  margin-top: 70px;
  height: 230px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 767.98px) {
  .logo-parceiro-auto {
    margin-bottom: 15px;
  }
}
.logo-parceiro-auto img:nth-child(1) {
  width: 165px !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo-parceiro-auto img:nth-child(1) {
    width: 115px !important;
  }
}
.logo-parceiro-auto img:nth-child(2) {
  width: 65px !important;
  margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo-parceiro-auto img:nth-child(2) {
    width: 55px !important;
  }
}
.plano-gratis {
  border: 2px solid #FF0000;
}

.plano-gratis .class-gratis {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

.plano-gratis .class-gratis hr {
  border: 1px solid #fff;
  width: 98%;
  margin: 8px 0;
}

.plano-gratis .class-gratis p:nth-child(1) {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.plano-gratis .class-gratis p:nth-child(3) {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .plano-gratis .class-gratis p:nth-child(3) {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .plano-gratis .class-gratis p:nth-child(3) {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .auto-gratis .plano1 {
    margin-top: 79px;
  }

  .auto-gratis .plano2 {
    margin-top: 79px;
  }
}
.auto-grid .row {
  background-color: #f7f7f7;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .produto .row .col-sm-3 {
    width: 22%;
    margin: 81px 8px;
    padding: 0;
  }

  .produto .row .col-sm-3:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .produto .row .col-sm-3 {
    width: 22%;
    margin: 81px 10px;
    padding: 0;
  }

  .produto .row .col-sm-3:nth-child(2) {
    margin-top: 0;
  }
}
.plano-gratis {
  padding: 0;
}

.plano-gratis .btn {
  background-color: red;
  border: 1px solid red;
  width: 90% !important;
  margin-top: 10px;
}

.auto-gratis .col-sm-3 .btn {
  width: 90% !important;
}
#promo-croqui{
  text-align: center;
  margin-bottom: 75px;  
}
#promo-croqui .texto{
  font-size: 20px;
    color: #20497D;
    margin-top: 35px;
}

#promo-croqui .texto .btn{
      margin-top: 20px;
}
